table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    border-style: dotted;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.h1 {
    font-family: "Comic Sans MS";
    color: black;
}

body {
    background-image: url("../static/images/red_lady.jpg");
    background-size: cover;
}