<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
<form>
    <div style="text-align: center"><br>
        <h1 class="h1">Aryan Online Boutique </h1> <br>
        <marquee class="m1">Welcome to Boutique !!!</marquee>
        <marquee direction="right"
                 behavior="alternate">
        </marquee>
        <br><br>
        <h5 class="h5">
            ADD CATEGORY -- <a href="/load_category" class="a1">Click here
            ! </a> <br><br>
            VIEW CATEGORY -- <a href="/view_category" class="a2">Click here
            !</a> <br><br>
            ADD SUB-CATEGORY -- <a href="/load_subcategory" class="a3">Click
            here ! </a> <br><br>
            VIEW SUB-CATEGORY -- <a href="/view_subcategory" class="a4">Click
            here !</a> <br><br>
            ADD PRODUCT-CATEGORY -- <a href="/load_product" class="a4">Click
            here !</a> <br><br>
            VIEW PRODUCT-CATEGORY -- <a href="/view_product" class="a4">Click
            here !</a> <br><br>
        </h5><br><br>
        <p class="p1">Aryan Online Boutique is store of fashionable items. However,
            based on specialty in<br>
            terms of the types of items it sells,it is classified.First opened
            in Ahmedabad in<br>
            the 1999s. In the present era,boutiques are everywhere, but the
            only difference<br>
            is that in high-class society, there are <b>SIGNET'S</b> boutiques
            !!</p>
    </div>
</form>
</body>
</html>





